.product {
  margin: 2.5rem;
  padding: 2.5rem 5rem;
  background-color: var(--color-dark--1);
  min-height: calc(100vh - 5rem);
}

.product section {
  width: clamp(80rem, 80%, 90rem);
  margin: 6rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 7rem;
  align-items: center;
}

.product img {
  width: 100%;
}

.product h2 {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 3rem;
}

.product p {
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.product section a {
  margin-top: 2rem;
}

/* ////////////////////////////// */
@media only screen and (max-width: 950px){
  .product section{
    width: 90%;
    
  }
}
@media only screen and (max-width: 850px){
  .product section{
   display: flex;
   flex-direction: column;
  }
  section .productImg{
    width: 70%;
  }

  .productInfo{
    display: flex;
    flex-direction: column;
    align-items:center;
  }
}
@media only screen and (max-width: 750px){
  .productInfo h2{
    font-size: 3.5rem;
    line-height: 1.1;
    margin-bottom: 3rem;
  }
  .productInfo p{
    font-size: 1.3rem;
  }
}
@media only screen and (max-width: 500px){
  .productInfo h2{
    font-size: 3rem;
    line-height: 1.1;
    margin-bottom: 2rem;
    align-self: center;
  }
  .productInfo p{
    font-size: 1.1rem;
  }
}


  /* .product section {
    width: 90%;
   margin: 5rem auto;
   display: flex;
   align-items: center;
   justify-content: center;
   
  }
  .pricingBox{
    flex-basis: 45%;
  }
  
  .product h2{
    font-size: 3.5rem;
    line-height: 1.1;
    margin-bottom: 2rem;
  } 
  .product p{
    font-size: 1.4rem;
  }
  
}

/* ////////////////////////////////////////// */
/* @media only screen and (max-width: 850px){
  .product section {
    width: 95%;
    height: 50vh;
    margin: 5rem auto;
    justify-content: space-around;
    align-items: center;
  }
  
  .product h2{
    font-size: 3.5rem;
    line-height: 1.1;
    margin-bottom: 2rem;
  } 
  .product p{
    font-size: 1.4rem;
  }
  
} */
/* ///////////////////////// */
/* @media only screen and (max-width: 750px){
 
  .product h2{
    font-size: 3rem;
    line-height: 1.1;
    margin-bottom: 2rem;
  } 
  .product p{
    font-size: 1.2rem;
  }
  .product section {
    /* background-color:orange; */
    /* width: 90%; */
  /* }
} */

/* ////////////////////////// */
/* @media only screen and (max-width: 600px){
 
  .product h2{
    font-size: 2.5rem;
    line-height: 1;
    
  } 
  .product p{
    font-size: 1rem;
  }
  .product section {
    width: 70%;
    flex-direction: column-reverse;
    align-items:center;
    justify-content: center;
   
  }
  .pricingBox{
    margin-top:3rem;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .pricingBox .pricingImg {
    width: 90%;
    
  }
}
@media only screen and (max-width: 450px){
 
  .product h2{
    font-size: 2rem;
    line-height: 1.2;
    
  }  */ 
  /* .product p{
    font-size: 1rem;
  } */
/*  
  .pricingBox .pricingImg {
    width: 90%;
    margin: 0;
  }
/* } */